<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Faces Index Page</title>
    </head>

    <body>
        <ul>
            <li><a href="/faces/compareupload">Compare 2 Pics</a></li>
            <li><a href="/faces/insertupload">Insert new Pic to seach tree</a></li>
            <li><a href="/faces/searchupload">Seach Pic</a></li>
            <li><a href="/faces/train">Train New search Tree</a>
            Warning: Unsaved search tree will be replaced</li>
        </ul>




    </body>
</html>
