<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Insert Success Page</title>
    </head>

    <body>
        Your Insert Operation is Successful.
        <form action="/faces/insertupload">
            <input type="submit" value="Insert Another"/>
        </form>
        <form action="/faces/searchupload">
            <input type="submit" value="Go to Search"/>
        </form>
        <form action="/faces">
            <input type="submit" value="Back To Index"/>
        </form>
    </body>
</html>
